body{
    background: black;
}

.default{
    background: rgb(39, 113, 173);
    color: rgb(244, 250, 255);
}

.jumbotron{
    background: rgb(39, 113, 173);
    color: rgb(244, 250, 255);
}


.NewColor {
    border:0;
    outline:0px;
    background:rgb(244, 250, 255);
    color:rgb(39, 113, 173);
    outline-style: hidden;
    transition: all 0.3s;
    
}

.NewColor:hover{
    color : white;
    background: rgb(39, 113, 173);
}

.selected{
    background: rgb(39, 113, 173);
    color: rgb(244, 250, 255);
    border: 0;
    outline: 0px;
    /* outline-style: hidden; */
    
}

.container.GameChoice{
    background : rgb(244, 250, 255);
    color: rgb(38, 113, 173);
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding-top: 0%;
}


.colorbox{
    max-width: 175px;
}

.colorboxeach{
    border-radius: 30px;
    transition: background 0.5s;
}


